########################
## gitignore template ##
########################

# macOS stuff
.DS_Store

# LaTeX stuff
# *.pdf
*.out
*.aux
*.log
*latexmk
*gz
*fls

# jupyter stuff
.ipynb_checkpoints/

# other
.vscode/
__pycache__/

# specific
readings/
lectures/
